@charset "UTF-8";
body {
  color: #333333;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

/*
YUI 3.18.1 (build f7e7bcb)
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

#yui3-css-stamp.cssreset {
  display: none;
}

.btn {
  text-decoration: none;
  display: inline-block;
}

.contact-btn {
  display: inline-block;
  background-color: #da6b64;
  border-radius: 1000px;
  color: white;
}

.border-bottom-yellow {
  border-bottom: solid 10px #ebb94d;
}

.bgwhite {
  background: white;
}

.brackets {
  position: relative;
  padding: 40px 0px;
  width: 860px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.brackets:before, .brackets:after {
  width: 45px;
  height: 45px;
  content: "";
  position: absolute;
}

.brackets:before {
  top: 0;
  left: 0;
  border-top: solid 4px #ebb94d;
  border-left: solid 4px #ebb94d;
}

.brackets:after {
  bottom: 0;
  right: 0;
  border-bottom: solid 4px #ebb94d;
  border-right: solid 4px #ebb94d;
}

.color-orange {
  color: #ebb94d;
}

.fw-bold {
  font-weight: bold;
}

.box {
  border: solid 2px #ebb94d;
  border-radius: 5px;
  background: white;
  padding: 40px 0 50px 0;
}

.txts {
  font-size: 16px;
}

.txtss {
  font-size: 14px;
}

.txtm {
  font-size: 20px;
}

.txtms {
  font-size: 18px;
}

.txtl {
  font-size: 24px;
}

div[class$="-inner"] {
  max-width: 1170px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

footer {
  height: 1000px;
}

.header {
  background: white;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo {
  width: 125px;
  display: flex;
  align-items: center;
  order: -1;
}

.header-txt {
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}

.header-btn1 {
  padding: 10px 40px;
  letter-spacing: 1px;
}

.header-btn2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    height: 62px;
  }
  .header-left {
    display: inline-block;
  }
  .header-txt {
    display: flex;
    font-size: 10px;
    margin-top: 0;
  }
  .header-logo {
    display: flex;
    justify-content: flex-start;
    width: 90px;
  }
  .header-btn1 {
    display: none;
  }
  .header-btn2 {
    display: flex;
    flex-direction: column;
    background: #da6b64;
    height: 100%;
    position: relative;
    right: -10px;
    padding: 10px 12px;
  }
  .header-btn2 img {
    display: block;
    margin: 0 auto;
    width: 20px;
  }
  .header-btn2 a {
    color: white;
    font-size: 14px;
  }
}

@media screen and (max-width: 1190px) and (min-width: 768px) {
  .header p,
  .header a {
    font-size: 12px;
  }
}

.sec1 {
  background-image: url("../img/main.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 75px;
  padding-top: 96px;
  padding-bottom: 90px;
}

.sec1-inner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.sec1-ttl {
  font-size: 20px;
  font-weight: 600;
}

.sec1-ttl span {
  position: relative;
  top: -8px;
}

.sec1-logo {
  width: 317px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.sec1-txt p {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .sec1 {
    margin-top: 62px;
    background-image: url("../img/mainsp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 317px;
  }
  .sec1-ttl {
    font-size: 15px;
  }
  .sec1-txt p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1190px) {
  .sec1 {
    background-size: auto;
  }
  .sec1-ttl {
    font-size: 16px;
  }
  .sec1-txt p {
    font-size: 24px;
  }
}
