body {
  color: $font-color;
  font-family: $font-family;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

// font size
h2 {
  font-size: 28px;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}
