// .sec8 {
//   background: #fef5e0;
//   padding-top: 40px;
//   & h2 {
//     margin: 0;
//   }

//   .brackets {
//     padding: 5px 0 20px 0;
//     margin-bottom: 0;
//   }
// }

// .merits {
//   padding: 0 15px;
//   margin: 40px 0;
// }

// .merit {
//   width: 360px;
//   text-align: left;
// }

// .merit-img {
//   // @include imgDir("learnfromfreelancer.jpg");
//   // background-image: url("../img/learnfromfreelancer.jpg");
//   // width: 100%;
//   height: 180px;
// }

// .merit-title {
//   font-size: 20px;
//   color: #ebb94d;
//   font-weight: bold;
// }

// .merit-txt {
//   font-size: 16px;
//   line-height: normal;
// }
