// // section2
// .sec2 {
//   background: #ebb94d;
//   font-weight: bold;
//   font-size: 21px;
//   padding: 10px 0 40px 0;

//   & p {
//     color: white;
//     padding: 0px;
//     line-height: 35px;
//     margin-bottom: 10px;
//   }

//   .bgwhite {
//     display: inline-block;
//     color: #c7254e;
//     font-size: 18px;
//     padding: 2px 4px;
//     border-radius: 3px;
//     letter-spacing: 4px;
//     font-weight: normal;
//   }
// }

// .sec2-btn {
//   padding: 35px 350px;
//   margin: 45px 0 75px 0;
//   font-size: 28px;
//   letter-spacing: 2px;
// }

// .sec2-con1 {
//   & p {
//     // margin-bottom: 35px;
//     margin: 0;
//     margin-bottom: 5px;
//     font-size: 21px;
//   }
// }

// .sns-con {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   margin-top: 20px;
//   // margin-bottom: 30px;
// }

// .tw {
//   position: relative;
//   bottom: -5px;
// }

// .fb {
//   margin-left: 4px;
// }
