// .sec7 {
//   padding: 40px;

//   & h2 {
//     margin-bottom: 55px;
//   }
// }

// .sec7-box {
//   margin: 50px 0;
//   & img {
//     width: 178px;
//     margin-right: 45px;

//     &:last-child {
//       margin-right: 0;
//     }
//   }
// }
