// // section5
// .sec5 {
//   background-image: url("#{$imgDir}aboutsecondbg.jpg");
//   padding: 40px;
//   color: white;
//   display: flex;
//   justify-content: center;

//   & h2 {
//     padding-bottom: 10px;
//   }
//   & p {
//     font-weight: bold;
//     padding-bottom: 10px;
//   }
// }

// .steps {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   margin: 0;
//   padding: 0;
//   padding-top: 5px;

//   & .step:nth-child(2) {
//     margin: 0 20px;
//   }
// }

// .step {
//   background: white;
//   border-radius: 4px;
//   padding: 15px 30px 10px 30px;
//   width: 100%;

//   & h3 {
//     background: #ebb94d;
//     border-radius: 5px;
//     padding: 3px;
//     font-size: 16px;
//     margin-bottom: 40px;
//   }
//   & p {
//     color: #333333;
//     font-weight: 600;
//     font-size: 16px;

//     &:nth-child(2) {
//       font-size: 14px;
//     }
//   }
// }
