.sec1 {
  @include background-image("main.jpg");
  margin-top: 75px;
  padding-top: 96px;
  padding-bottom: 90px;

  &-inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  &-ttl {
    font-size: 20px;
    font-weight: 600;
    span {
      position: relative;
      top: -8px;
    }
  }

  &-logo {
    width: 317px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &-txt {
    p {
      font-weight: 600;
      font-size: 28px;
      margin-bottom: 10px;
    }
  }
}

@include mq(sm) {
  .sec1 {
    margin-top: 62px;
    @include background-image("mainsp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 317px;

    &-ttl {
      font-size: 15px;
    }

    &-txt {
      p {
        font-size: 18px;
      }
    }
  }
}

@include mq(lg) {
  .sec1 {
    background-size: auto;
    &-ttl {
      font-size: 16px;
    }

    &-txt {
      p {
        font-size: 24px;
      }
    }
  }
}
