// // about
// .about {
//   width: 80px;
//   height: 80px;
//   background: #ebb94d;
//   color: white;
//   border-radius: 50%;
//   line-height: 80px;
//   text-align: center;
//   font-size: 14px;
//   display: inline-block;
//   position: relative;
//   top: -40px;
// }

// // section4
// .sec4 {
//   background: #fef5e0;
//   padding: 0px 0 75px 0;
//   position: relative;

//   & .brackets {
//     padding-top: 30px;
//     margin-bottom: 55px;
//   }
// }

// .skills-box {
//   border: solid 2px #ebb94d;
//   border-radius: 5px;
//   padding: 15px 0 25px 0;
//   margin-top: 40px;

//   & h3 {
//     margin-bottom: 30px;
//     // letter-spacing: 1px;
//     font-size: 20px;
//   }
// }

// .skills {
//   margin: 0 auto;
//   padding: 0;

//   width: 650px;

//   & p {
//     font-size: 12px;
//     line-height: 19px;
//   }
// }
