$breakpoint-md: 768px;
$breakpoint-lg: 1190px;

//画像格納ディレクトリ
$imgDir: "../img/";

//PCレイアウト時の最小横幅
$max-width: 1170px;

//サイトで使用するカラー

$font-color: #333333;

$pink: #da6b64;
$orange1: #ebb94d;
$orange2: #fef5e0;
$orange3: #f7c23c;
$blue: #016ea9;
$ash: #ececec;

$font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
