$breakpoints: (
  "sm": "screen and (max-width: #{$breakpoint-md})",
  "smd": "screen and (max-width: #{$breakpoint-lg}) and (min-width: #{$breakpoint-md})",
  "md": "screen and (max-width: #{$breakpoint-md})",
  "lg": "screen and (max-width: #{$breakpoint-lg})",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// .foo {
//   color: blue;
//   @include mq() { // 引数を省略（初期値はmdの768px）
//     color: yellow;
//   }
//   @include mq(lg) { // 引数を個別に指定
//     color: red;
//   }
// }
