// header
.header {
  background: white;
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 1000;

  &-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &-left {
    display: flex;
    flex-direction: row;

    align-items: center;
  }

  &-logo {
    width: 125px;
    display: flex;
    align-items: center;
    order: -1;
  }

  &-txt {
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
  }

  &-btn1 {
    padding: 10px 40px;
    letter-spacing: 1px;
  }

  &-btn2 {
    display: none;
  }
}

@include mq(md) {
  .header {
    height: 62px;
    &-left {
      display: inline-block;
      // display: flex;
      // flex-direction: column;
    }

    &-txt {
      display: flex;
      font-size: 10px;
      margin-top: 0;
    }

    &-logo {
      display: flex;
      justify-content: flex-start;
      width: 90px;
    }

    &-btn1 {
      display: none;
    }
    &-btn2 {
      display: flex;
      flex-direction: column;

      background: $pink;
      height: 100%;
      position: relative;
      right: -10px;
      padding: 10px 12px;

      img {
        display: block;
        margin: 0 auto;
        width: 20px;
      }
      a {
        color: white;
        font-size: 14px;
      }
    }
  }
}

@include mq(smd) {
  .header {
    p,
    a {
      font-size: 12px;
    }
  }
}
